@import url("./bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--gray-800);
  font-family: "Exo", sans-serif;
}

::-moz-selection {
  color: seashell;
  background: #0C448F;
}

::selection {
  color: seashell;
  background: #0C448F;
}

.fwb {
  font-weight: 800;
}

.ls1 {
  letter-spacing: 1px;
}

.title {
  color: #343a40;
}

.text-body {
  color: #456 !important;
}

.btn {
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 14px 27px;
}

.btn:hover {
  -webkit-box-shadow: 0 0 4px rgba(0, 85, 204, 0.3);
          box-shadow: 0 0 4px rgba(0, 85, 204, 0.3);
}

.service {
  background-color: rgba(37, 138, 255, 0.1);
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.service h3.title {
  font-size: 2.66rrem;
}

.service .row .col-md-6:nth-child(2n) {
  margin-top: -3rem;
}

@media only screen and (max-width: 992px) {
  .service .row .col-md-6:nth-child(2n) {
    margin-top: 0;
  }
}

.service .card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(14, 86, 124, 0.165308);
          box-shadow: 0px 2px 4px rgba(14, 86, 124, 0.165308);
  border-radius: 2px;
  margin-bottom: 1.75rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.service .card .card-body {
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 576px) {
  .service .card .card-body {
    padding: 1.25rem;
  }
}

.service .card .thumb {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 98px;
          flex: 0 0 98px;
  height: 98px;
  margin-right: 1.5rem;
  max-width: 98px;
}

.service .card .inner .title {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  /* or 32px */
  letter-spacing: 1px;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .service .card .inner .title {
    font-size: 18px;
    line-height: 130%;
  }
}

.service .card .inner a {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #8C97AC;
}

.testimonial {
  margin-bottom: 3rem;
}

.testimonial .item {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .testimonial .item {
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    margin-bottom: 2rem;
  }
}

.testimonial .item .card {
  border: 1px solid #E2E4E8;
  border-radius: 10px;
}

.testimonial .item .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
}

@media only screen and (max-width: 576px) {
  .testimonial .item .card-body {
    padding: 1.2rem;
  }
}

.testimonial .item .card-body img {
  width: -webkit-min-content !important;
  width: -moz-min-content !important;
  width: min-content !important;
  margin-right: 1.5rem !important;
}

@media only screen and (max-width: 576px) {
  .testimonial .item .card-body img {
    margin-right: 1rem;
    width: 64px;
    height: 64px;
  }
}

.testimonial .item .card-body .inner p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.5px;
  color: #1D293F;
  margin-bottom: 1.5rem;
}

.testimonial .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial .owl-dots .owl-dot {
  width: 29px;
  height: 0px;
  border: 4px solid #E2E4E8;
  background: #E2E4E8;
  margin-right: 0.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: none;
}

.testimonial .owl-dots .owl-dot.active {
  background: #258AFF;
  border-color: #258AFF;
}

.testimonial .owl-dots .owl-dot:focus {
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: none;
}

section.donate {
  background-color: #1D293F;
  background-image: url(../img/donate.png);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
}

section.donate::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #12121212;
  mix-blend-mode: multiply;
}

section.donate .inner p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 170% */
  letter-spacing: 1px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 768px) {
  section.donate .inner p {
    font-size: 15px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 576px) {
  section.donate .inner .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.donate .inner .buttons .btn {
    display: block;
    margin-bottom: 0.75rem;
  }
}

section.links {
  position: relative;
}

section.links svg {
  bottom: -44px;
  right: 20px;
  z-index: 9;
}

section.links .big-btn {
  padding: 2rem 3rem;
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

footer.footer {
  padding-top: 3rem;
  padding-bottom: 10rem;
  position: relative;
  background: #f1f7ff;
}

footer.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000;
  background-size: cover;
  background-position: 0 -80px;
  background-image: url(../img/footer-svg.png);
}

footer.footer .widget h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  color: #1D293F;
}

footer.footer .widget .nav-link, footer.footer .widget p {
  font-weight: 500;
  font-size: 16px;
  /* or 250% */
  color: #7C8087;
}

footer.footer .widget.subscribe .form-control {
  background: #FAFAFA;
  border: 1px solid #E6E6E6;
  -webkit-box-shadow: 0px 32px 84px rgba(14, 86, 124, 0.165308);
          box-shadow: 0px 32px 84px rgba(14, 86, 124, 0.165308);
  border-radius: 4px;
  height: 3.5rem;
}

footer.footer .widget.subscribe .btn {
  position: absolute;
  right: .5rem;
  top: 50%;
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 12px 16px;
}

.contact .page-header h1 {
  font-weight: bold;
  font-size: 3rem;
  /* or 81px */
  text-align: center;
  color: #363643;
  padding-top: 2rem;
}

.contact .page-header .pagination .page-link {
  background: #0000;
  border: 0;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #999;
}

.contact .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.contact .con .icon {
  background-color: #bedcff;
  height: 88px;
  width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.contact .con .icon svg {
  margin: 0 auto;
}

.contact .con h3 {
  font-weight: bold;
  font-size: 1.1rem;
  color: #363643;
}

.contact .con a {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #10AFF3;
}

.contact .inner-form h3 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 48px;
  color: #113355;
}

.contact .inner-form .form-control {
  border-radius: 0;
}

.contact .inner-form .form-control label {
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #373737;
}

.contact .inner-form .form-control .btn {
  padding-left: 04.5rem;
  padding-right: 4.5rem;
}

.main-header {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  -webkit-box-shadow: 0 4px 16px rgba(134, 142, 150, 0.152);
  box-shadow: 0 4px 16px rgba(134, 142, 150, 0.152);
}

.main-header nav.nav {
  padding: .5rem 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-header nav.nav .logo {
  max-width: 200px;
}

@media only screen and (max-width: 992px) {
  .main-header nav.nav .logo {
    max-width: 180px;
  }
}

@media only screen and (max-width: 768px) {
  .main-header nav.nav .logo {
    max-width: 160px;
  }
}

.main-header nav.nav ul.nav .nav-item:not(:last-child) {
  margin-right: 16px;
}

.main-header nav.nav ul.nav .nav-item .nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #565659;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-header nav.nav ul.nav .nav-item .nav-link:hover {
  color: #343a40;
}

.main-header nav.nav .nav-toggler {
  display: none;
  margin-left: auto;
  position: relative;
  height: 2.5rem;
  width: 2.573rem;
  cursor: pointer;
  border-radius: 100%;
  padding: 0 !important;
}

@media only screen and (max-width: 992px) {
  .main-header nav.nav .nav-toggler {
    display: block;
  }
}

.main-header nav.nav .nav-toggler::before {
  content: "";
  display: block;
  position: absolute;
  height: 2.55rem;
  width: 2.55rem;
  background: transparent;
  top: -01px;
  left: -1px;
  border-radius: 100%;
  -webkit-transition: 0.5s ease background;
  transition: 0.5s ease background;
}

.main-header nav.nav .nav-toggler:hover::before {
  background: #f1f1f1;
}

.main-header nav.nav .nav-toggler span {
  display: block;
  width: 70%;
  height: 2px;
  left: 15%;
  background: #8b8b8b;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main-header nav.nav .nav-toggler span:nth-of-type(1) {
  top: 8px;
  left: auto;
  right: 15%;
}

.main-header nav.nav .nav-toggler span:nth-of-type(2) {
  top: 18px;
}

.main-header nav.nav .nav-toggler span:nth-of-type(2)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #8b8b8b;
  width: 100%;
  height: 100%;
}

.main-header nav.nav .nav-toggler span:nth-of-type(3) {
  top: 28px;
  left: 15%;
}

.main-header nav.nav .nav-toggler.active::before {
  background: #efefef;
}

.main-header nav.nav .nav-toggler.active span:nth-of-type(1),
.main-header nav.nav .nav-toggler.active span:nth-of-type(3) {
  width: 0%;
}

.main-header nav.nav .nav-toggler.active span:nth-of-type(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #343a40;
}

.main-header nav.nav .nav-toggler.active span:nth-of-type(2)::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #343a40;
}

@media only screen and (max-width: 992px) {
  .main-header nav.nav .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 280px;
    padding-top: 5.5rem;
    -webkit-box-shadow: -12px 0 58px 35px #1233;
            box-shadow: -12px 0 58px 35px #1233;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.25s ease transform, 0.5s ease opacity;
    transition: 0.25s ease transform, 0.5s ease opacity;
    opacity: 0;
  }
  .main-header nav.nav .mobile-menu.active {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .main-header nav.nav .mobile-menu ul.nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 70vh;
  }
  .main-header nav.nav .mobile-menu ul.nav .nav-item {
    margin: 0;
  }
  .main-header nav.nav .mobile-menu ul.nav .nav-link {
    padding: 1rem 2.5rem;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
  }
  .main-header nav.nav .mobile-menu ul.nav .nav-link:hover, .main-header nav.nav .mobile-menu ul.nav .nav-link:focus {
    background-color: #d8eaff;
  }
  .main-header nav.nav .mobile-menu ul.nav .btn.btn-primary {
    display: none;
  }
}

.home {
  margin-top: 2.6rem;
}

.home .title {
  font-size: 48px;
  line-height: 58px;
  /* or 121% */
  letter-spacing: 0.02em;
  color: #324559;
}

@media only screen and (max-width: 768px) {
  .home .title {
    font-size: 36px;
    line-height: 46px;
  }
}

.home .text {
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (max-width: 768px) {
  .home .text {
    font-size: 16px;
    line-height: 24px;
    padding: 0 1.5rem;
  }
}

.about {
  background-image: url(../img/bg-sec.jpg);
  background-position: 25% 95%;
  padding: 5rem 0;
  margin-top: 3rem;
}

.about .inner {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.57);
  padding: 3rem 3.5rem;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

@media only screen and (max-width: 992px) {
  .about .inner {
    padding: 2rem 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .about .inner {
    padding: 1.5rem 1.75rem;
  }
}

@media only screen and (max-width: 576px) {
  .about .inner {
    padding: 1.25rem 1.75rem;
  }
}

.about .inner span {
  font-weight: 500;
}

.about .inner .fw6 {
  font-weight: 700;
}

.about .inner .text-body {
  line-height: 1.7755;
}

@media only screen and (max-width: 768px) {
  .about .inner .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 576px) {
  .about .inner .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .inner .buttons .btn {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 992px) {
  .h1 {
    font-size: 2.22rem;
  }
}
