.home{
    margin-top: 2.6rem;
    .title{
        font-size: 48px;
        line-height: 58px;
        /* or 121% */
        
        letter-spacing: 0.02em;
        
        color: #324559;

        @include mediaq($md){
            font-size: 36px;
            line-height: 46px;
        }
    }
    .text{
        font-size: 18px;
        line-height: 24px;
        @include mediaq($md){
            font-size: 16px;
            line-height: 24px;
            padding: 0 1.5rem;
        }
    }
}

.about{
    background-image: url(../img/bg-sec.jpg);
    background-position: 25% 95%;
    padding: 5rem 0;
    margin-top: 3rem;
    .inner{
        border-radius: 8px;
        background: rgba(255,255,255,0.57);
        padding: 3rem 3.5rem;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(6px);

        @include mediaq($lg) {
            padding: 2rem 2.5rem;
        }
        @include mediaq($md) {
            padding: 1.5rem 1.75rem;
        }
        @include mediaq($sm) {
            padding: 1.25rem 1.75rem;
        }

        span{
            font-weight: 500;
        }

        .fw6{
            font-weight: 700;
        }

        .text-body{
            line-height: 1.7755;
        }

        .buttons{
            @include mediaq($md){
                display: flex   ;
                justify-content: space-between
            }
            @include mediaq($sm){
                display: flex   ;
                flex-direction: column;

                .btn{
                    margin-bottom: 8px;
                }
            }

        }
    }
}

.h1{
    @include mediaq($lg){
        font-size: 2.22rem;
    }
}

.page-header{
    position: relative;
    padding: 2rem 0;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, #EEF6FF 0%, rgba(238, 246, 255, 0) 100%);        z-index: -1;
    }
    h1{
        font-weight: bold;
        font-size: 3rem;
        /* or 81px */

        text-align: center;

        color: #363643;
        padding-top: 2rem;
    }
    .pagination {
        .page-item{
            &:not(:last-child){
                .page-link{
                    &::after{
                        content: '>';
                        padding-left: .5rem;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }
                }
            }
        }
        .page-link {
            background: #0000;
            border: 0;
            font-size: 15px;
            line-height: 140%;
            color: #999;

              
            }
        }
    }

    .services{
        h2.title{
            font-size:  1.8rem;
            @include mediaq($lg){
                font-size:  1.6rem;  
            }
            @include mediaq($md){
                font-size:  1.333rem;  
            }
        }
    }
    .services-card{
        background: linear-gradient(180deg, #F2F8FF 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 8px;
        padding: 3.25rem 3rem;
        margin-bottom: 3rem;

        display: flex;
        @include mediaq($lg){
            padding: 2rem 1.75rem;
        }
        @include mediaq($md){
            padding: 2rem 1.95rem;
            flex-direction: column;
        }
        @include mediaq($sm){
            margin-left: -10px;
            margin-right: -10px;
            padding: 2rem 1.25rem;
        }

        &:hover{
            .icon{
                animation: updown 1.5s linear infinite alternate both;
            }
        }
        .icon{
            transition: 1.5s;
            flex: 0 0 220px;
            max-width: 220px;
            margin-right: 2rem;
            @include mediaq($lg){
                flex: 0 0 180px;
                max-width: 180px;
                margin-right: 1.5rem;
            }
            @include mediaq($md){
                margin-right: auto;
                flex: 0 0 160px;
                max-width:  160px;
                margin-bottom: 1.5rem;
            }
            @include mediaq($md){
                flex: 0 0 120px;
                max-width:  120px;
            }
            img{
                max-width: 80%;
                padding-left: 2rem;
                @include mediaq($lg){
                    padding-left: 1.5rem;
                }
                @include mediaq($md){
                    padding-left: 0;
                    max-width: 100%;
                }
                @include mediaq($sm){
                    padding-left: 0;
                    max-width: 90%;
                }
            }   
        }

        .content{
            h4{
                font-weight: bold;
                font-size: 1.25rem;
                line-height: 160%;
                /* or 38px */
                letter-spacing: 1px;
                text-transform: capitalize;
                color: #363643;

                @include mediaq($md){
                    font-size: 1.125rem;
                    line-height: 160%;   
                }
            }
            p{
                margin-bottom: 0;
                font-size: 1.1rem;
                line-height: 180%;
                letter-spacing: 1px;
                color: #4F5665;
                @include mediaq($md){
                    line-height: 190%;
                    font-size: 14px;
                }
            }
        }

    }
    label{
        font-size: .9rem;
        letter-spacing: 1px;
        font-weight: 600;
        color: #757879;
    }

    @keyframes updown {
        0% {
            transform: translateY(10px);
        }
        50% {
            transform: translateY(-10px);
        }
      
        100% {
            transform: translateY(10px);
        }
    }