.service{
	background-color: rgba($blue, 0.1);
	padding-top: 6rem;
	padding-bottom: 3rem;
	.text-warning{
		display: block;
		@include mediaq($md){
			text-align: center;
		}
	}
	h3.title{
		font-size: 2.66rrem;
	}
	.row{
		.col-md-6{
			&:nth-child(2n){
				margin-top: -3rem;
				@include mediaq($lg) {
					margin-top: 0;
				}
			}
		}
	}
	.card{
		background: #FFFFFF;
		box-shadow: 0px 2px 4px rgba(14, 86, 124, 0.165308);
		border-radius: 2px;
		margin-bottom: 1.75rem;
		height: min-content;
		.card-body{
			padding: 1.5rem;
			align-items: center;
			@include mediaq($sm){
				padding: 1.25rem;
			}
		}
		.thumb{
			flex: 0 0 98px;
			height: 98px;
			margin-right: 1.5rem;
			max-width: 98px;
		}
		.inner{
			.title{
				font-weight: 800;
				font-size: 20px;
				line-height: 120%;
				/* or 32px */
				letter-spacing: 1px;
				text-transform: capitalize;

				@include mediaq($md){
					font-size: 18px;
					line-height: 130%;
					text-align: left;
				}
			}
			a{
				font-weight: 500;
				font-size: 15px;
				line-height: 21px;
				color: #8C97AC;
			}
		}



	}
}

.testimonial{
	margin-bottom: 3rem;
	svg{
		@include mediaq($md ){
			margin: auto;
			text-align: center;
			display: flex;
		}
	}
	.item{
		margin-bottom: 2rem;
		@include mediaq($md ){
			min-height: min-content;
			margin-bottom: 2rem;
		}
		.card{
			border: 1px solid #E2E4E8;
			border-radius: 10px;
		}
		.card-body{
			display: flex;
			padding: 1.5rem;
			@include mediaq($sm){
				padding: 1.2rem;
			}
			img{
				width: min-content !important;
				margin-right: 1.5rem !important;
				@include mediaq($sm){
					margin-right: 1rem;
					width: 64px;
					height: 64px;
				}
			}
			.inner{
				p{
					font-weight: 500;
					font-size: 16px;
					line-height: 28px;
					/* or 175% */

					letter-spacing: 0.5px;

					color: #1D293F;
					margin-bottom: 1.5rem;

				}
			}
		}
	
	}
	.owl-dots{
		display: flex;
		.owl-dot{
			width: 29px;
			height: 0px;
			border: 4px solid #E2E4E8;
			background: #E2E4E8;
			margin-right: 0.5rem;
			border-radius: 1rem;
			box-shadow: 0;
			outline: none;
			&.active{
				background: $blue;
				border-color: $blue;
			}
			&:focus{
				box-shadow: 0;
				outline: none;
			}
		}
	}
}

section.donate{
	background-color: #1D293F;
	background-image: url(../img/donate.png);
	background-size: cover;
	background-attachment: fixed;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	position: relative;
	
	&::after{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: #12121212;
		mix-blend-mode: multiply;
	}
	.inner{
		p{
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;
			/* or 170% */
			letter-spacing: 1px;
			text-align: center;
			color: #FFFFFF;
			text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);

			@include mediaq($md){
				font-size: 15px;
				line-height: 24px;
			}
		}
		.buttons{
			@include mediaq($sm){
				flex-direction: column;
				.btn{
					display: block;
					margin-bottom: 0.75rem;
				}
			}
		}
	}
}

section.links{
	position: relative;
	svg{
		&.right-2{
			height: 70px;
			width:-70px;
		}
		bottom: -35px;
		right: 35px;
		z-index: 9;
	}
	.big-btn{
		padding: 2rem 3rem;
		display: block;
		font-size: 18px;
		letter-spacing: 1px;
		font-weight: 700;
		color: #fff;
		text-decoration: none;
		text-align: center;
	}
}


.contact{
	
	.con{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.5rem;
		.icon {
			background-color: lighten($blue, 30%);
			height: 88px;
			width: 88px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			margin-bottom: 1rem;
			svg{
				margin: 0 auto	;
			}
		}
		h3{
			font-weight: bold;
			font-size: 1.1rem;
			color: #363643;
		}
		a{
			font-weight: normal;
			font-size: 18px;
			line-height: 27px;
			text-align: center;

			color: #10AFF3;
		}
	}

	.inner-form{
		h3{
			font-weight: bold;
			font-size: 2rem;
			line-height: 48px;

			color: #113355;
		}
		.form-control{
			border-radius: 0;
			label{
				font-size: 14px;
				line-height: 16px;
				text-transform: capitalize;

				color: #373737;
			}

			.btn{
				padding-left: 04.5rem;
				padding-right: 4.5rem;
			}
		}
	}
}

.story{
	background: linear-gradient(180deg, #F2F8FF 0%, rgba(255, 255, 255, 0) 100%);
	picture{
		.link{
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 88px;
			height: 88px;
			background: #fff;
			border-radius: 50%;
			top: calc(50% - 49px);
			left: calc(50% - 49px);
			transform: scale(.87);
			opacity: 0.78;
			transition: .2s ease-in;
			box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.25), 0px 6px 125px rgba(0, 0, 0, 0.15), 0px 4px 62px rgba(0, 0, 0, 0.02), 0px 4px 25px rgba(0, 0, 0, 0.25);
			
			&:hover,
			&:focus{
				opacity: 1;
				box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.5), 0px 6px 125px rgba(0, 0, 0, 0.25), 0px 4px 62px rgba(0, 0, 0, 0.02), 0px 4px 25px rgba(0, 0, 0, 0.25);

			}
		}
	}
	.inner{
		.lead{
			font-size: 18px;
			line-height: 1.8;
			color: #363643;
			letter-spacing: 0.25px;

			@include mediaq($md){
				font-size: 16px;
			}
		}
	}
	.text-purple{
		color: #A522E2;
	}
}

.quote{
	margin-top: 4rem;
	margin-bottom: 2rem;
background: linear-gradient(91.84deg, #154483 -8.55%, #0B86CC 109.98%);
position: relative;
&::before{
	content: '';
	position: absolute;
	inset: 0;
	background: #0005 center;
	background-image: url(../img/quote.png) ;
	background-size: cover;
}
	blockquote {
		font-weight: 500;
		font-size: 18px;
		line-height: 170%;
		/* or 43px */

		text-align: center;
		letter-spacing: 0.75px;

		color: #FFFFFF;
		padding: 2rem 1rem;
	}
}

.team{
	margin-top: 3rem;
	margin-bottom: 6rem;
	@include mediaq($md){
		margin-bottom: 3.1255rem;
	}
	.card{
		margin-bottom: 3rem !important;
		background: #f5f5f5;
		border: 0;
		box-shadow: 0  4px 26px rgba(0, 0, 0, 0.05);
		height: calc(100% - 3rem);
		img{
			max-width: 100%;
			margin: auto;

			@include mediaq($md){
				margin-bottom: 1.1255rem;
			}
		}
		.card-title{
			font-weight: bold;
			font-size: 2rem;
			line-height: 160.1%;
			/* or 58px */
			color: #363643;
			margin-bottom: 1.25rem;
			@include mediaq($md){
				text-align: center;
				font-size: 1.82rem;
			margin-bottom: 1rem;


			}
		}
		.card-body{
			padding: 2.5rem;	
			padding-right: 3rem;
			@include mediaq($md) {
				padding: 1.25rem;
				text-align: center;

			}	
		}
		.card-text{
			font-weight: normal;
			font-size: 18px;
			line-height: 180%;
			/* or 29px */
			color: #4F5665;
			margin-bottom: 1.25rem;
			@include mediaq($md) {
				font-size: 16px;
				letter-spacing: 1px;
			}
		}
		.social{
			display: flex;
			@include mediaq($md) {
				justify-content: center;
			}
			.link{
				display: flex;
				width: 2.8rem;
				height: 2.8rem;
				align-items: center;
				justify-content: center;
				background: #fff;
				border-radius: 50%;	
				margin-right: 1rem;
				transition: 0.2s ease;
				
				&:hover{
					background: lighten($blue, 0);
					svg path{
						fill: #fff;
					}
				}
				svg{
					height: 22px ;
					width: 22px;
					transition: 0.2s ease;
				}
			}
		}
	}
}

.sec-don{
	margin-top: 3rem;
	padding: 5rem 2rem;
	background: #361047;
	background-image: url(../img/2.png);
	background-size: cover;
	background-position: center;
	.icon{
		margin-bottom: 1.5rem;
	}
	.title{
		font-weight: 800;
		font-size: 2.5rem;
		line-height: 133%;
		font-feature-settings: 'salt' on, 'liga' off;
		color: #F4F4F4;
		margin-bottom: 1.5rem;
		letter-spacing: 1px;
		text-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
		@include mediaq($md){
			font-size: 2.111rem;
		}
	}
}

.don-bg {
	background: #EFF6FF;
	padding: 2.5rem 2.35rem;
	p{
		line-height: 1.8;
		font-size: 16px;
		margin-bottom: 1.5rem;
	}
}

.donation-form{
	padding: 0 2rem !important;
}

.error-404{
	margin-top: -9rem;
	margin-bottom: 5rem;
	h4{
		font-weight: bold;
		color: #373737;
	}
	.lead{
		font-size: 1rem;
	}
}