.service{
	background-color: rgba($blue, 0.1);
	padding-top: 6rem;
	padding-bottom: 3rem;
	h3.title{
		font-size: 2.66rrem;
	}
	.row{
		.col-md-6{
			&:nth-child(2n){
				margin-top: -3rem;

				@include mediaq($lg) {
					margin-top: 0;
				}
			}
		}
	}
	.card{
		background: #FFFFFF;
		box-shadow: 0px 2px 4px rgba(14, 86, 124, 0.165308);
		border-radius: 2px;
		margin-bottom: 1.75rem;
		height: min-content;
		.card-body{
			padding: 1.5rem;
			align-items: center;
			@include mediaq($sm){
				padding: 1.25rem;
			}
		}
		.thumb{
			flex: 0 0 98px;
			height: 98px;
			margin-right: 1.5rem;
			max-width: 98px;
		}
		.inner{
			.title{
				font-weight: 800;
				font-size: 20px;
				line-height: 120%;
				/* or 32px */
				letter-spacing: 1px;
				text-transform: capitalize;

				@include mediaq($md){
					font-size: 18px;
					line-height: 130%;
				}
			}
			a{
				font-weight: 500;
				font-size: 15px;
				line-height: 21px;
				color: #8C97AC;
			}
		}



	}
}

.testimonial{
	margin-bottom: 3rem;
	.item{
		margin-bottom: 2rem;
		@include mediaq($md ){
			min-height: min-content;
			margin-bottom: 2rem;
		}
		.card{
			border: 1px solid #E2E4E8;
			border-radius: 10px;
		}
		.card-body{
			display: flex;
			padding: 1.5rem;
			@include mediaq($sm){
				padding: 1.2rem;
			}
			img{
				width: min-content !important;
				margin-right: 1.5rem !important;
				@include mediaq($sm){
					margin-right: 1rem;
					width: 64px;
					height: 64px;
				}
			}
			.inner{
				p{
					font-weight: 500;
					font-size: 16px;
					line-height: 28px;
					/* or 175% */

					letter-spacing: 0.5px;

					color: #1D293F;
					margin-bottom: 1.5rem;

				}
			}
		}
	
	}
	.owl-dots{
		display: flex;
		.owl-dot{
			width: 29px;
			height: 0px;
			border: 4px solid #E2E4E8;
			background: #E2E4E8;
			margin-right: 0.5rem;
			border-radius: 1rem;
			box-shadow: 0;
			outline: none;
			&.active{
				background: $blue;
				border-color: $blue;
			}
			&:focus{
				box-shadow: 0;
				outline: none;
			}
		}
	}
}


section.donate{
	background-color: #1D293F;
	background-image: url(../img/donate.png);
	background-size: cover;
	background-attachment: fixed;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	position: relative;
	
	&::after{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: #12121212;
		mix-blend-mode: multiply;
	}
	.inner{
		p{
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;
			/* or 170% */
			letter-spacing: 1px;
			text-align: center;
			color: #FFFFFF;
			text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);

			@include mediaq($md){
				font-size: 15px;
				line-height: 24px;
			}
		}
		.buttons{
			@include mediaq($sm){
				flex-direction: column;
				.btn{
					display: block;
					margin-bottom: 0.75rem;
				}
			}
		}
	}
}

section.links{
	position: relative;
	svg{
		bottom: -44px;
		right: 20px;
		z-index: 9;
	}
	.big-btn{
		padding: 2rem 3rem;
		display: block;
		font-size: 18px;
		letter-spacing: 1px;
		font-weight: 700;
		color: #fff;
		text-decoration: none;
		text-align: center;
	}
}

footer.footer{
	padding-top: 3rem;
	padding-bottom: 10rem;
	position: relative;
	background:lighten($blue, 40%);
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #0000;
		background-size: cover;
		background-position: 0 -80px;
		background-image: url(../img/footer-svg.png);
	}
	.widget{
		h4{font-weight: 600;
			font-size: 18px;
			line-height: 32px;
			/* identical to box height, or 178% */
			color: #1D293F;}
		.nav-link, p{
			font-weight: 500;
			font-size: 16px;
			/* or 250% */
			color: #7C8087;
		}

		&.subscribe{
			.form-control{
				background: #FAFAFA;
				border: 1px solid #E6E6E6;
				box-shadow: 0px 32px 84px rgba(14, 86, 124, 0.165308);
				border-radius: 4px;
				height: 3.5rem;
			}
			.btn{
				position: absolute;
				right: .5rem;
				top: 50%;
				font-size: 15px;
				letter-spacing: 0;
				font-weight: 600;
				text-transform: capitalize;
				transform: translateY(-50%);
				padding: 12px 16px;
			}
		}
	}
	
}

.contact{
	.page-header{
		h1{
			font-weight: bold;
			font-size: 3rem;
			/* or 81px */

			text-align: center;

			color: #363643;
			padding-top: 2rem;
		}
		.pagination{
			.page-link{
				background: #0000;
				border: 0;
				font-size: 16px;
line-height: 140%;
/* or 22px */
color: #999 ;
			}
		}
	}
	.con{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.5rem;
		.icon {
			background-color: lighten($blue, 30%);
			height: 88px;
			width: 88px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			margin-bottom: 1rem;
			svg{
				margin: 0 auto	;
			}
		}
		h3{
			font-weight: bold;
			font-size: 1.1rem;
			color: #363643;
		}
		a{
			font-weight: normal;
			font-size: 18px;
			line-height: 27px;
			text-align: center;

			color: #10AFF3;
		}
	}

	.inner-form{
		h3{
			font-weight: bold;
			font-size: 2rem;
			line-height: 48px;

			color: #113355;
		}
		.form-control{
			border-radius: 0;
			label{
				font-size: 14px;
				line-height: 16px;
				text-transform: capitalize;

				color: #373737;
			}

			.btn{
				padding-left: 04.5rem;
				padding-right: 4.5rem;
			}
		}
	}
}