@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: var(--gray-800);
    font-family: "Exo", sans-serif;
}
::selection{
    color: seashell;
    background: #0C448F;
}
.fwb{
    font-weight: 800;
}
.ls1{
    letter-spacing: 1px;
}
.title{
    color: #343a40;
}
.text-body{
    color: #456 !important;
}
.btn{
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 14px 27px;

    &:hover{
        box-shadow: 0 0 4px rgba($color: #05c, $alpha: 0.3);
    }
}









 ///////////////// ========   MIXINS    ========== ///////////////////// 
 @mixin mediaq($xy) {
    @media only screen and (max-width: $xy) {
      @content;
    }
  }

 ///////////////// ========   VARIABLES    ========== ///////////////////// 
 
$md: 768px;
$lg: 992px;
$sm: 576px;
$xl: 1200px;


$purple: #343a40;
$blue: #258AFF;