@import url('https://fonts.googleapis.com/css2?family=Titillium Web:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
}
body{
    color: var(--gray-800);
    font-family: "Titillium Web    ", sans-serif;
    line-height: 1.6;
}
::selection{
    color: seashell;
    background: #0C448F;
}
.fwb{
    font-weight: 800;
}
.ls1{
    letter-spacing: 1px;
}
.title{
    color: #343a40;

    @include mediaq($md){
        text-align: center;
    }
}
.text-body{
    color: #456 !important;
}
.btn:not(.btn-sm){
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 12px 24px;
    &:hover{
        box-shadow: 0 0 4px rgba($color: #05c, $alpha: 0.3);
    }
}

strong{
    font-weight: 600;
}

h4.title{
    font-weight: 600;
    text-transform: capitalize;
}

h2.title{
    @include mediaq($md){
        font-size: 1.8rem;
    }
}